.container{
  display: flex;
  justify-content: center;
}
.box-default{
  border: 5px solid black;
  margin: 20px;
  padding: 0 15px;
  text-align: center;
}
.box-Tie{
  border: 5px solid gray;
  margin: 20px;
  padding: 0 15px;
  text-align: center;
}
.box-Win{
  border: 5px solid green;
  margin: 20px;
  padding: 0 15px;
  text-align: center;
}
.box-Lose{
  border: 5px solid red;
  margin: 20px;
  padding: 0 15px;
  text-align: center;
}
.item-img{
  width: 400px; height: 300px;
  border: 1px solid black;
}